header {
  background: #e0f7fa;
  padding: 16px;

  nav a {
    margin-right: 16px;
    color: #00796b;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
  }
}

.content {
  padding: 20px;
}
