:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

p-menubar {
  border-radius: 0;
  border: none;
}

.content {
  flex: 1;
  padding: 1.5rem;
  background: var(--surface-ground);
}

button.p-button-danger {
  margin-left: 1rem;
}
