.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--surface-ground);
}

.layout-container {
  flex: 1;
  display: flex;
  overflow: hidden;
  margin-top: 1rem;
  
  padding: 0 1rem;
}

.layout-main {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  background: var(--surface-ground);
}
