header {
  background: #263238;
  color: white;
  padding: 16px;

  h2 {
    margin: 0 0 10px 0;
  }

  nav a {
    margin-right: 20px;
    color: #90caf9;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
  }
}

.content {
  padding: 24px;
}
