<p-menu #menu [model]="items" [popup]="true" styleClass="w-auto">
    <ng-template #submenuheader let-item>
        <span class="text-primary font-bold">{{ item.label }}</span>
    </ng-template>
    <ng-template #item let-item>
        <a pRipple class="flex items-center p-menu-item-link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
            <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge" />
        </a>
    </ng-template>
</p-menu>

<p-button (click)="menu.toggle($event)" [rounded]="true" [text]="true" severity="info">
    <i class="pi pi-user mr-2" pBadge [value]="badgeCount" style="font-size: 2rem;"></i>
</p-button>