<p-menubar>
  <ng-template pTemplate="start">
    <div class="flex items-center gap-2">
      <span class="font-bold text-lg">🏋️ Gym Web App</span>
    </div>
  </ng-template>

  <ng-template pTemplate="end">
    <ng-container *ngFor="let item of itemsRight">
      <p-button
        [label]="item.label"
        [routerLink]="item.routerLink"
        [styleClass]="item.styleClass + ' ml-2'">
      </p-button>
    </ng-container>
  </ng-template>
</p-menubar>

<div class="content">
  <router-outlet></router-outlet>
</div>
